form {
    border: none;
    display: flex !important;
    flex-direction: column !important;
}

.large-input {
    border-radius: 0 !important;
    width: 100% !important;
    padding: 10px !important;
    margin-bottom: 20px !important;
    font-size: 1.2em;
}

input.large-input {
    border: none;
    font-weight: bold;
    font-size: 3em;
}

textarea.large-input {
    border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input::placeholder {
    font-weight: bold;
}

.image-upload {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

div.placeholder-image {
    height: 400px;
}

.image-label {
    width: 100%;
    font-size: 2.5em !important;
    font-weight: bold;
    margin-bottom: 10px !important;
}

.image-input {
    font-weight: bold;
    font-size: 1em !important;
}

.ingredient-inputs,
.ingredient-inputs label {
    flex: 1 !important;
    margin-right: 10px !important;
}

.ingredient-inputs input {
    flex: 2 !important;
    padding: 10px !important;
    font-size: 1em !important;

    flex: 1;
    margin-right: 10px;
}

.publish-button {
    align-self: center !important;
    padding: 10px 20px !important;
    font-size: 1.2em !important;
    border: none !important;
    cursor: pointer !important;
    width: 100%;
}

ul,
ol {
    margin-bottom: 35px;
}

ul li,
ol li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

button {
    border: none;
}

.create-recipe {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.image-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.placeholder-image {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 16px;
}

.uploaded-image {
    width: 100%;
    height: auto;
}

.image-input {
    font-size: 1em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.ingredient-inputs {
    display: flex;
    align-items: center;
}

.ingredient-inputs input {
    flex: 2;
    padding: 10px;
    font-size: 1em;
}

.info-chip-input {
    width: 60px;
    text-align: center;
    padding: 5px;
    font-size: 1em;
    border: none;
    border-radius: 8px;
}

.ingredient-inputs {
    display: flex;
    align-items: center;
}

@media (prefers-color-scheme: light) {
    .placeholder-image {
        background-color: #f0f0f0;
        color: #999;
        border: 2px dashed #ccc;
    }
}

@media (prefers-color-scheme: dark) {
    .placeholder-image {
        background-color: #111;
        color: #ccc;
        border: 2px dashed #777;
    }
}
