
main.home-container {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.welcome-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 500px;
}

.welcome-section h1 {
    flex: 1.5;
    font-size: 2rem;
    margin: 0;
    padding: 5em 10em 5em;
    justify-content: center;
}

.welcome-image {
    flex: 1;
    width: 300px;
    height: auto;
    margin-left: 20px;
}

.recipe-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (prefers-color-scheme: light) {
    .welcome-section {
        background-color: #f8f8f8;
    }
}

@media (prefers-color-scheme: dark) {
    .welcome-section {
        background-color: #000;
    }
}

