.info-chip {
    flex: 0.15;
    text-align: left;

    padding: 0.8em 0.9em 1em;
    border-radius: 12px;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
    font-size: 1em;
    margin-right: 0.85em;

    /*line-height: 1;*/
    /*font-weight: inherit;*/
    height: 5.5em;
}

.info-chip span:first-child {
    display: block;
    font-weight: bold;
    padding-bottom: 0.5em;
}

.info-chip span:last-child {
    font-weight: 200;
}

.info-chip input {
    font-weight: 200;
    padding: 0;
    margin-top: 0;
    border: 0;
    border-radius: 0;
    text-align: left;
}


@media (prefers-color-scheme: light) {
    .info-chip {
        border: 1px solid #D8DADC;
        background-color: #fff;
    }

}

@media (prefers-color-scheme: dark) {
    .info-chip {
        border: 1px solid #aaa;
        background-color: #000;
    }

}

