:root {
    font-size: 1em;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

* {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

@media (prefers-color-scheme: light) {
    :root {
        color: rgba(255, 255, 255, 0.87);
        background-color: #F8F8F8;
    }
    a:hover {
        color: #747bff;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #fff;
        background-color: #000;
    }
    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
        color: #213547;
    }
}

